spring:
  application:
    name: geosurveymap

logging:
  level:
    org.springframework.security: DEBUG
    com.mobile.amigoapp: DEBUG
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
springdoc:
  show-actuator: true
  swagger-ui:
    tags-sorter: alpha
    urls-primary-name: All
  cache:
    disabled: true
---
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: root
    password: postgres
  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  flyway:
    enabled: true
    baseline-on-migrate: true

---
spring:
  config:
    activate:
      on-profile: default
