version: '3.8'

services:
  postgres:
    image: postgis/postgis:16-3.4
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"


  backend:
    build:
      context: ../../.
      dockerfile: dev.Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${DB_URL:-postgres:5432/postgres}
      SPRING_DATASOURCE_USERNAME: ${DB_USER:-root}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD:-postgres}
    volumes:
      - ./wait-for-it.sh:/wait-for-it.sh
    entrypoint: [ "./wait-for-it.sh", "postgis:5432", "--", "java", "-jar", "app.jar" ]
    depends_on:
      - postgres

volumes:
  postgres:
